<head>
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<!-- Plotly chart will be drawn inside this DIV -->
	{{test1_scores}}
	<div id="myDiv"></div>
	<script type="text/javascript">
		var y0=[],y1=[]
		for ( i = 0; i < 50; i ++) 
		{
		    y0[i] = Math.random();
		    y1[i] = Math.random();
		}
		y0=JSON.parse("{{test1_scores|safe}}");
		console.log(y0);
		console.log(y1);


		var trace1 = {
		  y: y0,
		  type: 'box'
		};

		var trace2 = {
		  y: y1,
		  type: 'box'
		};

		var data = [trace1, trace2];

		Plotly.newPlot('myDiv', data);
	</script>
</body>

