.button-container {
    margin:20px 60px;
}

.button{
	text-decoration: none;
	border: none;
	padding: 10px;
	background-color: #343434;
	color: white;
}

.button:hover{
	outline: solid 2px #343434;
	background-color: white;
	color: #343434;
	border-radius: 5px;
}